
body {
    color: #eee;
    background: #111;
}

.topbar {
    background: #333;
    box-shadow: 0px 0px 5px #333;
}

.title {
    font-size: 22px;
}

.menubtn {
    float: right;
    vertical-align: middle;
}

.songpanel-container {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.songpanel {
    margin: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}

.songinfo {
    background: #333;
    float: left;
}

.songinfotable {
    margin: 5px;
}

.songinfotextcol {
    float: left;
    display: flex;
    align-items: center;
}

.slider-handle {
	background-color: #bbb;
	background-image: none;
}

.slider {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
}

.navbar-brand { 
    text-shadow: 0px 0px 4px #eee;
}

.analyser-container-container {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.analyser-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.analyser-container .sizer {
    display: none;
}

.analyser-bar {
    display: inline-block;
    transition: height 0.1s;
    width: 3%;
    margin-left: 0.1667%;
    margin-right: 0.1667%;
    background-color: rgba(255, 200, 50, 0.3);
    border-radius: 5px;
}

@media(max-width: 767px) {
    .bottombar {
        background: #333;
        box-shadow: 0px 0px 5px #333;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 60px;
    }

    .songinfo img {
        width: 125px;
        height: 125px;
    }

    .songinfotextcol {
        height: 125px;
        width: 125px;
    }

}

@media(min-width: 768px) {
    .bottombar {
        background: #333;
        box-shadow: 0px 0px 5px #333;
        position: fixed;
        bottom: 0px;
        left: 30px;
        right: 30px;
        height: 60px;
    }

    .songinfo img {
        width: 250px;
        height: 250px;
    }

    .songinfotextcol {
        height: 250px;
        width: 250px;
    }
}
