
body {
    color: #eee;
    background: #111;
}

.topbar {
    background: #333;
    box-shadow: 0px 0px 5px #333;
}

.title {
    font-size: 22px;
}

.menubtn {
    float: right;
    vertical-align: middle;
}

.songpanel {
    margin: auto;
}

.songinfo {
    background: #ccc;
}

.songinfotable {
    margin: 5px;
}

.songinfotextcol {
    display: flex;
    align-items: center;
}

.slider-handle {
	background-color: #bbb;
	background-image: none;
}

.slider {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
}

@media(max-width: 767px) {
    .bottombar {
        background: #333;
        box-shadow: 0px 0px 5px #333;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 60px;
    }

    .songpanel {
        width: 250px;
    }

    .songinfo, .songinfo img {
        width: 125px;
        height: 125px;
    }

    .songinfotextcol {
        min-height: 125px;
    }

}

@media(min-width: 768px) {
    .bottombar {
        background: #333;
        box-shadow: 0px 0px 5px #333;
        position: fixed;
        bottom: 0px;
        left: 30px;
        right: 30px;
        height: 60px;
    }

    .songpanel {
        width: 500px;
    }

    .songinfo, .songinfo img {
        width: 250px;
        height: 250px;
    }

    .songinfotextcol {
        min-height: 250px;
    }
}